body {
  text-align: center;
  background-color: #011F3F;
}

p {
  color: #FEF2BF;
  font-size: 1.5rem;
}

a {
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  margin-top: 2%;
  color: #FEF2BF;
  line-height: 2;
}

.welcome-note {
  font-family: cursive;
  color: #FEF2BF;
  font-size: 2.5rem;
}

.container {
  display: block;
  width: 70%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 810px) {
  .btn {
    margin: 25px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 20%;
  }

  #level-title {
    font-size: 1.5rem;
  }
}

.instruction {
  text-align: left;
  color: #FEF2BF;
}

.objective {
  color: #f4e04d;
}

.link {
  text-align: center;
}

.footer {
  margin-top: 100px;

}

.footer p {
  font-size: 2rem;
}
